*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    background-color: antiquewhite;
}
header{
    text-align: center;
}
select{
    height: 50px;
    width: 25%;
    text-align: center;
    font-size: 20px;
    color:brown;
    font-weight: bold;
    padding: 10px;
}
img {
    width: 480px;
    height: 300px;
    padding: 25px;
}
img:hover{
    padding: 0px;
    border: 25px solid green;
}
.gallery {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    
}
.getImg {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    
}
